<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Ejemplo proyecto 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum vero rerum cupiditate sequi natus veniam
                nihil repellat molestiae. Alias nostrum totam nisi quia ex? Veritatis reiciendis similique deleniti
                accusamus facilis.</p>
        </div>
        <div class="col-sm-12 col-md-3 col lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/ejemploproyecto.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>