<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 cold-lg-2">
        <img src="../../../assets/perfilPhoto.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Romiti Garcia Facundo J.</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto praesentium ipsa provident, explicabo
                nobis numquam ad aperiam eligendi quas cum quibusdam, soluta facilis accusantium ipsam harum tenetur,
                nemo nam. Assumenda!</p>
        </span>
    </div>
</div>