<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Primer trabajo</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam facilis iste culpa modi exercitationem.
                Aperiam ullam, praesentium autem eius consequuntur non reprehenderit doloremque nihil voluptatem
                incidunt perspiciatis tenetur voluptatum voluptatibus.</p>
        </ul>
        <ul>
            <li>
                <h1>Segundo trabajo</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam facilis iste culpa modi exercitationem.
                Aperiam ullam, praesentium autem eius consequuntur non reprehenderit doloremque nihil voluptatem
                incidunt perspiciatis tenetur voluptatum voluptatibus.</p>
        </ul>
        <ul>
            <li>
                <h1>Tercer trabajo</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam facilis iste culpa modi exercitationem.
                Aperiam ullam, praesentium autem eius consequuntur non reprehenderit doloremque nihil voluptatem
                incidunt perspiciatis tenetur voluptatum voluptatibus.</p>
        </ul>
    </div>
</div>